*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
     user-select: none;
   
    
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #222;
    color: #555;
}

#toaster{
    position: absolute;
    bottom: 10px;
    left: 10px;
    
}
.noti{
    
    width: auto;
    background-color: rgba(57, 57, 58, 0.404);
    padding:5px 30px;
    border: 2px solid rgb(65, 62, 62);
    color:whitesmoke;
    margin: 2px;
    font-size: 10px;
    font-family: cursive;
    border-radius: 10px;
}

button{
   background-color: rgba(57, 57, 58, 0.404);
    padding:10px 30px;
        color:whitesmoke;
    border: 2px solid rgb(65, 62, 62);
    border-radius: 10px;
}